<h1><%=_("Reset your YaPET account password")%></h1>
<p>
<%= _("You (or possibly someone else) have requested that YaPET
account's password for the following email address be reset: %s") % @email %>
</p>
<p>
<%=_("To reset the password, please follow this link and enter new
password (if the link doesn't open, copy and paste it to your browser's address bar):")%>
<%= link_to @request_url, @request_url %>
</p>
<p>
<%=_("This password reset request is valid for a single day.  If you didn't
request the password reset, you may ignore this message.")%>
</p>
