<h2><%=_("Settings")%></h2>
<h3><%=_("Change Password")%></h3>

<% form_tag({ :action => "update" }, :method => :put) do %>
<table class="settings-table">
  <tbody>
  <tr>
    <td><%= label_tag "old_password", _("Current Password") %></td>
    <td><%= password_field_tag "old_password" %></td>
    <td></td>
  </tr>
  <tr>
    <td><%= label_tag "new_password", _("New Password") %></td>
    <td><%= password_field_tag "new_password", nil, :onkeyup => "checkPasswordConfirmation();" %></td>
    <td></td>
  </tr>
  <tr>
    <td><%= label_tag "confirm_password", _("Confirm New Password") %></td>
    <td><%= password_field_tag "confirm_password", nil, :onkeyup => "checkPasswordConfirmation();" %></td>
    <td><div id="password-match-status" class="icon"></div></td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2">
      <%= submit_tag _("Change") %>
      <%= link_to _("Cancel"), edit_settings_path %>
    </td>
  </tr>
  </tfoot>
</table>
<% end %>
