<h1><%=_("Hello there!")%></h1>
<p>
<%=_("Welcome to YaPET: a Personal Expense Tracker!")%>
</p>
<p>
<%=_("This application will help you keep track of your expenses,
understand them and reduce your monthly costs.")%>
</p>
<p class="warning">
<%=_("We're in closed testing stage now.  Please check back later or
drop me a line if you would like to try the site when it becomes ready.")%>
</p>
<p>
<%=_("If you would like to try using the site in a
&ldquo;sandbox&rdquo;, please use the link below.  Sandbox accounts
are only valid for one day or until you close your browser or logout.
You may have as many sandboxes as you want.")%>
</p>
<p>
<%= link_to _("Enter Sandbox"), new_sandbox_path %>
</p>
