<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="<%=h I18n.locale%>"
      lang="<%=h I18n.locale%>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>YaPET</title>
  <link rel="icon" type="image/png" href="/images/kangaroo64.png"/>

  <%= javascript_include_tag :defaults %>
  <%= in_place_completer_include %>
  <%= calendar_date_select_includes "plain", :locale => I18n.locale %>

  <%= stylesheet_link_tag 'default' %>
  <%= user_agent_tweaks %>
</head>
<body onload="onLoad()">

<% if @use_undecorated_layout %>
  <%= yield %>
<% else %>
  <%= render :partial => "shared/default_layout" %>
<% end %>

</body>
</html>
