<h1>New account</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :paid_till %><br />
    <%= f.date_select :paid_till %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', accounts_path %>
